<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GuvenlikAciklari"
        tools:targetApi="31">
        <activity
            android:name=".sifre.sifreolustu2"
            android:exported="false" />
        <activity
            android:name=".test.test5"
            android:exported="false" />
        <activity
            android:name=".test.test4"
            android:exported="false" />
        <activity
            android:name=".test.test3"
            android:exported="false" />
        <activity
            android:name=".test.test2"
            android:exported="false" />
        <activity
            android:name=".test.test1"
            android:exported="false" />
        <activity
            android:name=".sifre.sifreolustur"
            android:exported="false" />
        <activity
            android:name=".sifre.sifreolusturucu"
            android:exported="false" />
        <activity
            android:name=".test.sifreolusturucu"
            android:exported="false" />
        <activity
            android:name=".incelemeler.incele7"
            android:exported="false" />
        <activity
            android:name=".incelemeler.incele6"
            android:exported="false" />
        <activity
            android:name=".incelemeler.incele5"
            android:exported="false" />
        <activity
            android:name=".incelemeler.incele4"
            android:exported="false" />
        <activity
            android:name=".incelemeler.incele3"
            android:exported="false" />
        <activity
            android:name=".incelemeler.incele2"
            android:exported="false" />
        <activity
            android:name=".incelemeler.incele1"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>